<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Autor</title>
     <link rel="icon" href="home/andrea/proy_quiz/quiz/public/finnicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Autora de la pagina</h2>  
    	<p><%= autor %></p>
      <a href ="/author"> </a>
      <p><img src="yo.jpg" border="2"  width="267" height="145" </img</p>
  </body>
</html>